<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Sprites/1357064.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {2480, 2480}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2480, 2480}}</string>
			<key>sourceSize</key>
			<string>{2480, 2480}</string>
		</dict>
		<key>Sprites/Blue-Feather-Sprite.png</key>
		<dict>
			<key>frame</key>
			<string>{{637, 2483}, {201, 250}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {201, 250}}</string>
			<key>sourceSize</key>
			<string>{201, 250}</string>
		</dict>
		<key>Sprites/Cloud-8@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3233}, {672, 188}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {672, 188}}</string>
			<key>sourceSize</key>
			<string>{672, 188}</string>
		</dict>
		<key>Sprites/cloudlarge-sprite-ipad@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2483}, {748, 316}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {748, 316}}</string>
			<key>sourceSize</key>
			<string>{748, 316}</string>
		</dict>
		<key>Sprites/cloudsmall-sprite-iPad@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{319, 2483}, {434, 316}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {434, 316}}</string>
			<key>sourceSize</key>
			<string>{434, 316}</string>
		</dict>
		<key>Sprites/feather.png</key>
		<dict>
			<key>frame</key>
			<string>{{319, 2919}, {400, 296}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {400, 296}}</string>
			<key>sourceSize</key>
			<string>{400, 296}</string>
		</dict>
		<key>Sprites/olifant.png</key>
		<dict>
			<key>frame</key>
			<string>{{191, 3233}, {500, 357}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {500, 357}}</string>
			<key>sourceSize</key>
			<string>{500, 357}</string>
		</dict>
		<key>Sprites/peanut.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3907}, {240, 88}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {240, 88}}</string>
			<key>sourceSize</key>
			<string>{240, 88}</string>
		</dict>
		<key>Sprites/slurf.png</key>
		<dict>
			<key>frame</key>
			<string>{{243, 3735}, {500, 357}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {500, 357}}</string>
			<key>sourceSize</key>
			<string>{500, 357}</string>
		</dict>
		<key>Sprites/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3997}, {70, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 70}}</string>
			<key>sourceSize</key>
			<string>{70, 70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{8192, 4096}</string>
		<key>textureFileName</key>
		<string>Sprites.png</string>
	</dict>
</dict>
</plist>
