<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Sprites/1357064.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {620, 620}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {620, 620}}</string>
			<key>sourceSize</key>
			<string>{620, 620}</string>
		</dict>
		<key>Sprites/Blue-Feather-Sprite.png</key>
		<dict>
			<key>frame</key>
			<string>{{82, 750}, {50, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {50, 62}}</string>
			<key>sourceSize</key>
			<string>{50, 62}</string>
		</dict>
		<key>Sprites/Cloud-8@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 812}, {168, 47}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {168, 47}}</string>
			<key>sourceSize</key>
			<string>{168, 47}</string>
		</dict>
		<key>Sprites/cloudlarge-sprite-ipad@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 623}, {187, 79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {187, 79}}</string>
			<key>sourceSize</key>
			<string>{187, 79}</string>
		</dict>
		<key>Sprites/cloudsmall-sprite-iPad@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{63, 939}, {108, 79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {108, 79}}</string>
			<key>sourceSize</key>
			<string>{108, 79}</string>
		</dict>
		<key>Sprites/feather.png</key>
		<dict>
			<key>frame</key>
			<string>{{141, 802}, {100, 74}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 74}}</string>
			<key>sourceSize</key>
			<string>{100, 74}</string>
		</dict>
		<key>Sprites/olifant.png</key>
		<dict>
			<key>frame</key>
			<string>{{50, 812}, {125, 89}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {125, 89}}</string>
			<key>sourceSize</key>
			<string>{125, 89}</string>
		</dict>
		<key>Sprites/peanut.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 982}, {60, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {60, 22}}</string>
			<key>sourceSize</key>
			<string>{60, 22}</string>
		</dict>
		<key>Sprites/slurf.png</key>
		<dict>
			<key>frame</key>
			<string>{{82, 623}, {125, 89}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {125, 89}}</string>
			<key>sourceSize</key>
			<string>{125, 89}</string>
		</dict>
		<key>Sprites/star.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1006}, {17, 17}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {17, 17}}</string>
			<key>sourceSize</key>
			<string>{17, 17}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>textureFileName</key>
		<string>Sprites.png</string>
	</dict>
</dict>
</plist>
